<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaft.org">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>origen</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css?h=2290483064c89bcfca7d8ff6033f2577">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css?h=320bd0471c3e8d6b9dd55c98e185506c">
    <link rel="stylesheet" href="/fonts/font-awesome.min.css?h=320bd0471c3e8d6b9dd55c98e185506c">
    <link rel="stylesheet" href="/fonts/material-icons.min.css?h=320bd0471c3e8d6b9dd55c98e185506c">
    <link rel="stylesheet" href="/fonts/fontawesome5-overrides.min.css?h=320bd0471c3e8d6b9dd55c98e185506c">
    <link rel="stylesheet" href="/css/-Login-form-Page-BS4-.css?h=029040ef307ec677827f7e04011acce5">
    <link rel="stylesheet" href="/css/Footer-Basic.css?h=dad9bd825313085723de5d568e2a1607">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <link rel="stylesheet" href="/css/Navigation-Clean.css?h=a55568e56685cd552da4c33b013ffda1">
    <link rel="stylesheet" href="/css/Pretty-Footer.css?h=8a5ecb781963bfde59df6f660963dd7f">
    <link rel="stylesheet" href="/css/Sidebar-Menu-1.css?h=7b01e24c2a0a2234fbfda8a733dbbd36">
    <link rel="stylesheet" href="/css/Sidebar-Menu.css?h=1bb7b8567a604b6542fb891ae4d84954">
    <link rel="stylesheet" href="/css/styles.css?h=f0706af50e8786fb591dfb2a7a846979">
</head>

<body>
    <div class="container-fluid">
        <div class="row mh-100vh">
            <div class="col-10 col-sm-8 col-md-6 col-lg-6 offset-1 offset-sm-2 offset-md-3 offset-lg-0 align-self-center d-lg-flex align-items-lg-center align-self-lg-stretch bg-white p-5 rounded rounded-lg-0 my-5 my-lg-0" id="login-block">
                <div class="m-auto w-lg-75 w-xl-50">
                    <h2 class="text-center text-muted text-info font-weight-light mb-5"><img class="img-fluid" src="/img/FAZZTY%20LOGO.jpg?h=a64d923ff01fb37034293e21b99eb82b" width="250px"><br>Iniciar Sesión</h2><label class="text-secondary">Usuario</label>
                    <form form class="col-12" th:action="@{/login}" method="post">
                        <div class="form-group"><input class="form-control" name="username" type="text" required=""  inputmode="email"></div>
                        <div class="form-group"><label class="text-secondary">Contraseña</label><input name="password" class="form-control" type="password" required=""></div><button class="btn btn-info mt-2" type="submit" style="background: #641fa3;">Ingresar</button>
                    </form>
                    <p class="mt-3 mb-0"><a class="text-muted text-info small" href="#">Desea registrarse?</a></p>
                </div>
            </div>
            <div class="col-lg-6 d-flex align-items-end" id="bg-block" style="background-image:url(&quot;/img/login_imagen1.jpg?h=0079d53fd529fba2c9e72d599d99e0c0&quot;);background-size:cover;background-position:center center;"><label class="col-form-label">&nbsp;</label></div>
        </div>
    </div>
    <footer>
        <div class="row">
            <div class="col-sm-6 col-md-4 footer-navigation">
                <h3><a href="#">Faztty</a></h3>
                <p class="text-left links"><a href="#">Principal</a><strong> · </strong><a href="#">Carrito</a><strong> · </strong><a href="#">Términos</a><strong> · </strong><a href="#">Nosotros</a><strong>&nbsp;</strong></p>
                <p class="text-center company-name" style="color: rgb(100,31,163);">Faztty© 2021</p>
            </div>
            <div class="col-sm-6 col-md-4 footer-contacts">
                <div><i class="fa fa-phone footer-contacts-icon"></i>
                    <p class="footer-center-info email text-left"> +51 999 888 456</p>
                    <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
                        <p><span class="new-line-span">Ciudad Universitaria</span> Lima, Perú</p>
                    </div>
                </div>
                <div><i class="fa fa-envelope footer-contacts-icon"></i>
                    <p> <a href="#" target="_blank">faztty@company.com</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 footer-about">
                <h4>About us...</h4>
                <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
            </div>
        </div>
    </footer>
    <script src="/js/jquery.min.js?h=89312d34339dcd686309fe284b3f226f"></script>
    <script src="/bootstrap/js/bootstrap.min.js?h=ba42258394f86cd7822f0e850e2d60b1"></script>
    <script src="/js/bs-init.js?h=36ffa0191e9d112d6a97bac11fc65d8e"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script src="/js/Sidebar-Menu.js?h=799b9a88f11384c3d5b19774a5e8d1ed"></script>
</body>

</html>